extends ../shared/layout
block main-content
    form.form-horizontal(method="post" action="")
        fieldset
            legend Add Product
            .form-group
                label.col-md-4.control-label(for="name") Name
                .col-md-4
                    input.form-control( type="text" name="name" placeholder="Name")
            .form-group
                label.col-md-4.control-label(for="price") Price
                .col-md-4
                    input.form-control( type="text" name="price" placeholder="Price")
            .form-group
                label.col-md-4.control-label(for="image-url") Image Url
                .col-md-4
                    input.form-control( type="text" name="imageUrl" placeholder="Image url")
            .form-group
                .col-md-4.col-md-offset-4
                    input.btn.btn-primary(type="submit" value="Add")