extends ../shared/layout

block main-content
   div
      if (userOrders && userOrders.length > 0)
         fieldset
            legend Here are your orders
         table.table.table-striped.table-hover.table-bordered
            thead
               th Name of the product
               th Price
               th Description
               th Product owner
               th Details
            tbody
               each order in userOrders
                  tr
                     td= order.productId.name
                     td= order.productId.price
                     td= order.productId.description
                     td= order.productId.postedBy
                     td
                        a(href='/products/details/' + order.productId._id) Details
      else
         .alert.alert-info You don't have any orders.
