extends ../shared/layout

block main-content
     h2.text-center
      | Greetings,&nbsp;
      = currentUser.username
      |  welcome to your profile!
     hr


     div.row
         if currentUser.postedProducts.length>0
             div.col-md-6
                 h3.text-center Here's a list of your auctions
                 table.table-bordered.table
                     thead
                         tr.thead-inverse
                         th.text-center Name
                         th.text-center  Posted On
                         th.text-center  Description
                         th.text-center  Price
                     tbody
                        each    product in currentUserProducts
                            tr.text-center
                                td: a(href='/products/details/'+ product._id)= product.name
                                td= product.postedDate
                                td= product.description
                                td= product.price

            if currentUser.postedProducts.length<=0
                div.col-md-6
                    h3 You don't have any auctions





            div.col-md-5.col-md-offset-1
            if currentUser.orders.length<=0
                   a(href='/profile/orders').disabled.btn.btn-danger.btn-lg.center-block You don't have any orders
            else if currentUser.orders.length>0
                    a(href='/profile/orders').btn.btn-info.btn-lg.center-block Your orders
