extends ../shared/admin-layout

block main-content
    form.form-horizontal(method="post" action="")
        fieldset
            legend Delete category
            .alert.alert-danger Warning: this will delete all associated products with the given category!
            .form-group
                label.col-md-4.control-label(for="name") Name
                .col-md-4
                    input.form-control(type="text" name="name" placeholder="Category name")
            .form-group
                label.col-md-4.control-label(for="name") Confirm again
                .col-md-4
                    input.form-control(type="text" name="confirmName" placeholder="Confirm category name")
            .form-group
                .col-md-4.col-md-offset-4
                    input.btn.btn-danger(type="submit" value="Delete")