doctype
html
    head
        title Auction System
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/libs/toastr/toastr.css")
    body
        #wrapper
            #sidebar-wrapper
                ul.sidebar-nav
                    li.sidebar-brand
                        | Categories
                    if (categories)
                        each category in categories
                            li
                                a(href='/categories/' + category._id)= category.name
            #page-content-wrapper
                .navbar-header
                    a.navbar-brand(href="/") Home
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        if (currentUser)
                            li
                                a(href="/profile") #{currentUser.username}
                    form.navbar-form.navbar-right(method="post", action='/login')
                        if (!currentUser)
                            .form-group
                                input.form-control(id="username" type="text" name="username" placeholder="Username")
                            .form-group
                                input.form-control(id="password" type="password" name="password" placeholder="Password")
                            button.btn.btn-default(type="submit") Login
                            a.btn.btn-default(href="/register") Register
                        else
                            a(href="/logout") Logout
                if (errorMessage)
                    .alert.alert-danger #{errorMessage}
                .jumbotron
                    block main-content

        footer.modal-footer
            p.text-center
                | &copy; Auction System

        include scripts