doctype
html
    head
        title Auction System
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/libs/toastr/toastr.css")
        link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
        link(rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/3/3b/Domain_name_auction_(eBay).jpg" type="image/x-icon")
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/bootpag/lib/jquery.bootpag.min.js")
        script(src="/libs/moment/moment.js")

    body(ng-app)
        #wrapper(ng-class='{toggled:toggle}')
            #sidebar-wrapper
                ul.sidebar-nav
                    li.sidebar-brand
                        | Categories
                    if (categories)
                        each category in categories
                            li
                                a(href='/categories/' + category._id)= category.name
            input.btn.btn-default(type="checkbox", ng-model="toggle")
            | Toggle
            #page-content-wrapper
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        if (currentUser)
                            li
                                a(href="/profile") #{currentUser.username}
                                    if (!currentUser.avatar)
                                        img(src="http://www.locovida.in/wp-content/uploads/2015/11/users.png", style="width: 30px;")
                                    if(currentUser.avatar)
                                        img(src="#(currentUser.avatar)", style="width: 30px;")
                    form.navbar-form.navbar-right(method="post", action='/login')
                        if(currentUser)
                            if(currentUser.roles.indexOf('admin') > -1)
                                a(href='/admin/home') Admin Panel
                        if (!currentUser)
                            .form-group
                                input.form-control(id="username" type="text" name="username" placeholder="Username")
                            .form-group
                                input.form-control(id="password" type="password" name="password" placeholder="Password")
                            button.btn.btn-default(type="submit") Login
                            a.btn.btn-default(href="/register") Register
                        else
                            div.row
                            .form-group
                                div.col-md-2
                                 a(href="/logout").btn.btn-default Logout
                                div.col-md-1.col-lg-offset-3
                                 a(href="/profile/information").btn.btn-info Details
                if (errorMessage)
                    .alert.alert-danger #{errorMessage}
                .jumbotron
                    block main-content

        footer.modal-footer
            p.text-center
                | &copy; Auction System

        include scripts