script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/toastr/toastr.js")
script(src="/libs/angular/angular.js")
script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")