extends ../shared/layout

block main-content
    .jumbotron
        .container
            h1 Products
            .row
                if (products)
                    each product in products
                        .col-md-4
                            .panel.panel-info
                                .panel-heading.text-center= product.name
                                .panel-body
                                    img(width="300px", height="300px",src=product.imageUrl)
                                    span= 'Posted by: ' + product.postedBy
