extends ../shared/layout

block main-content
    .container
        h3 Products
        .row.text-center
            .col-md-4
                a.btn.btn-default(href='/categories/' + currentCategoryID + '/addProduct', type="submit")
                    | Add Products
        .row
            if (products)
                each product in products
                    .col-md-4
                        .panel.panel-info
                            .panel-heading.text-center= product.name
                            .panel-body
                                img(width="300px", height="300px",src=product.imageUrl)
                                span= 'Posted by: ' + product.postedBy
